<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home page</title>
</head>
<body>
<h1> Home Page </h1>
    <ul>
        <li><a href="{{url_for('home')}}">Index</a></li>
        <li><a href="{{url_for('galery')}}">Galery</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('contact')}}">Contact</a></li>
    </ul>
<br>
<img src="{{ url_for('static', filename='cat.jpg') }}" alt="Cat"><br>
</body>
</html>